h1{
    font-size: large;
    font-weight: bold;
    color: blue;
}

h1 {
    color: yellow;
    background-color: black;

}

h2 {
    color: aqua;
    background-color: greenyellow;
}

h6 {
    color: lawngreen;
}